.image-area
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper
{
	width: 150px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 150px;
	width: 100px;
	filter: grayscale(100%);
    transition: 2s;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    margin-top: 20px;

}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper h5
{
	background: tomato;
	font-family: Poppins;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h5
{
	transform: perspective(400px) rotateY(0deg);
}

